<div class="max-w-2xl mx-auto p-6">
  <h1 class="text-2xl font-bold mb-6">New Reminder for <%= customer.name %></h1>

  <%= form_with(model: [customer, reminder], local: true, class: "space-y-6") do |form| %>
    <%= render(ErrorMessagesComponent.new(resource: reminder)) %>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= render FormFieldComponent.new(form:, field: :from) do %>
          <%= form.text_field :from, class: "form-control", disabled: true %>
        <% end %>
      </div>


      <div class="col-md-6">
        <%= render FormFieldComponent.new(form:, field: :to) do %>
          <%= form.text_field :to, class: "form-control", disabled: true %>
        <% end %>
      </div>
    </div>

    <div class="mb-3">
      <%= render FormFieldComponent.new(form:, field: :body) do %>
        <%= form.rich_text_area :body, class: "form-control" %>
      <% end %>
    </div>

    <div class="mb-3">
      <%= form.submit "Send Reminder", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
