
<div class="row" data-masonry='{"percentPosition": true }'>
  <div class="col-md-6 pb-4">
    <%= render CardComponent.new(id: dom_id(customer), title: customer.name) do %>
      <p><strong>Role:</strong> <%= customer.role_text %></p>
      <p><strong>Email:</strong> <%= customer.email %></p>
      <p><strong>Ohio ID:</strong> <%= customer.ohio_id %></p>
      <% if customer.pid? && policy(customer).show_pid? %>
        <p><strong>PID:</strong> <%= customer.pid %></p>
      <% end %>
      <div class="mt-3">
        <strong>Notes:</strong>
        <% if customer.notes.present? %>
          <%= customer.notes %>
        <% else %>
          <span class="text-muted text-italic">None</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6 pb-4">
    <%= render CardComponent.new(id: dom_id(customer, :checkouts), title: "Checkouts") do %>
      <div class="d-flexjustify-content-between">
        <%= render BadgeComponent.new(
          label: "Past Due",
          count: customer.checkouts.past_due.count,
          button_variant: BsVariant::Danger
        ) %>

        <%= render BadgeComponent.new(
          label: "Active Checkouts",
          count: customer.checkouts.checked_out.count,
          button_variant: BsVariant::Success
        ) %>

        <%= render BadgeComponent.new(
          label: "Total Checkouts",
          count: customer.checkouts.count,
          button_variant: BsVariant::Dark,
          text_variant: BsVariant::White
        ) %>
      </div>

      <h5 id="past-due-items" class="pt-4">Past Due Items</h5>
      <%= render Checkout::ReturnableListComponent.new(id: "past-due-items-list", customer:, checkouts: customer.checkouts.past_due, fallback: "No Items Past Due") %>

      <h5 id="checked-out-items" class="pt-4">Checked Out Items</h5>
      <%= render Checkout::ReturnableListComponent.new(id: "checked-out-items-list", customer:, checkouts: customer.checkouts.checked_out, fallback: "No Items Checked Out") %>

      <h5 class="pt-4">Check Out Items</h5>
      <%= tag.div(data: { controller: "autocomplete value-stripper",
                          autocomplete_url_value: items_path(filter: :not_checked_out, autocomplete_class: Items::AutocompleteAddComponent.name),
                          value_stripper_replacements_value: ValueStripper.all_replacements.to_json},
                          class: "pb-2") do %>
        <input
          type="text"
          data-autocomplete-target="input"
          placeholder="Search items..."
          data-action="keyup->value-stripper#update paste->value-stripper#update change->value-stripper#update"
          data-value-stripper-target="input"
        >
        <div data-autocomplete-target="results" class="autocomplete-results"></div>
      <% end %>

      <%= render Item::CheckoutableListComponent.new(id: "check-out-available-items-list", customer:, items: [], fallback: "No Items Items Yet") %>
    <% end %>
  </div>

  <div class="col-md-6 pb-4">
    <%= render CardComponent.new(id: dom_id(customer, :history), title: "History") do %>
      <%= render ListComponent.new(items: customer.all_activities, fallback: "No Item History") do |activity| %>
        <%= render ActivityComponent.new(activity:) %>
      <% end %>
    <% end %>
  </div>
</div>
