
<div class="row">
  <div class="col-md-6">
    <%= render CardComponent.new(id: dom_id(item), title: item.name) do %>
      <p><strong>Location:</strong> <%= item.location.name %></p>
      <p><strong>Group:</strong> <%= item.group.name %></p>
      <% if item.has_parent? %>
        <p><strong>Parent Item:</strong> <%= link_to item.parent.name, item_path(item.parent) %></p>
      <% end %>
      <% if item.has_children? %>
        <p>
          <strong>Children Item(s):</strong>
          <ul>
            <% item.children.each do |child_item| %>
              <%= link_to item.name, item_path(child_item) %>
            <% end %>
          </ul>
        </p>
      <% end %>
      <div class="mt-3">
        <strong>Description:</strong>
        <% if item.description.present? %>
          <%= item.description %>
        <% else %>
          <span class="text-muted text-italic">None</span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
    <%= render CardComponent.new(id: dom_id(item, :history), title: "History") do %>
      <%= render ListComponent.new(items: item.all_activities, fallback: "No Item History") do |activity| %>
        <%= render ActivityComponent.new(activity:) %>
      <% end %>
    <% end %>
  </div>
</div>
