<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>PCOE de Checkout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <%= render AdminLinksComponent.new(admin_user: current_admin_user) %>
      <%= render FlashMessagesComponent.new(flash:) %>

      <%= yield %>
    </div>
  </body>
</html>
